<p>product name:
    <input nz-input placeholder="product name" [(ngModel)]="productName" />
</p>
<p>order title:
    <input nz-input placeholder="order title" [(ngModel)]="orderTitle" />
</p>
<p>order number:
    <input nz-input placeholder="order number" [(ngModel)]="orderNum" />
</p>
<p>total amount:
    <input nz-input placeholder="total amount" [(ngModel)]="totalAmount" />
</p>
<p>product code:
    <input nz-input placeholder="product code" [(ngModel)]="productCode" />
</p>
<button nz-button nzType="primary" (click)="pay4()">Pay</button>
<br /><br />